<!DOCTYPE html>
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ curr_story.title }}</title>
  </head>
  <body>
    <article>
      <header>
        <h1>{{ curr_story.title }}</h1>
        <p>Posted by: {{ curr_story.created_by }}</p>
      </header>
      <p>
            {{ curr_story.text|safe }}
      </p>
    </article>
    <form action="/myblog/{{curr_story.story_id}}/editor_child">
    <input type="submit" value="continue next episode" />
    </form>
  </body>
</html>